---
import { t } from "@lib/services/i18n";
import {
	getCurrentSubscriptionPeriod,
	getFreeDaysLeftInCurrentSubscriptionPeriod,
	hasActiveSubscription,
} from "@lib/services/subscription";

export const partial = true;

const { language, id = "" } = Astro.locals.user;
const hasActiveSub = await hasActiveSubscription(id);
const currentSubscriptionPeriod = await getCurrentSubscriptionPeriod(id);
const subscriptionPeriodEndDate = hasActiveSub && currentSubscriptionPeriod?.end.format("DD.MM.YYYY");
const freeDaysLeft = await getFreeDaysLeftInCurrentSubscriptionPeriod(id, currentSubscriptionPeriod);
---

{
	hasActiveSub ? (
		<div class="flex flex-col justify-center">
			<div class="text-right">{`${freeDaysLeft} ${t("deals_left", language)}`}</div>
			<div class="text-xs text-right">Verfügbar bis {subscriptionPeriodEndDate}</div>
		</div>
	) : (
		<div class="flex flex-col text-sm text-center">
			<span>{t("subscription_not_active", language)}</span>
			<span>4,99 € {t("per_deal_day", language)}</span>
			<a class="link text-xs" href="/pricing">
				{t("subscription_buy_now", language)}
			</a>
		</div>
	)
}
