---
import { getFavoriteDealsCount } from "@lib/services/user";

export const partial = true;
const user = Astro.locals.user;
const count = user.id ? getFavoriteDealsCount(user.id) : 0;
---

<div class="badge gap-2 border border-[#2c363a] bg-transparent text-[#69828c]">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 93.22094 127.76471" class="h-3 w-auto">
    <path
      d="M85.067,124.316,47.22038,96.59777l-37.853,27.726c-1.06242,1.29917-2.92485.41171-2.92485-1.39371V3.04033H87.99823V122.91922C87.99823,124.72858,86.13174,125.618,85.067,124.316Z">
    </path>
  </svg>
  {count}
</div>
