---
import { getAccountById } from "@lib/services/account";
import { renderErrorPageTranslated } from "@lib/services/error";
import { t } from "@lib/services/i18n";

export const partial = true;
const { language: lang, id } = Astro.locals.user;

if (!id) {
	return renderErrorPageTranslated("", lang);
}

const account = await getAccountById(id);

if (!account) {
	return renderErrorPageTranslated("", lang);
}
---

<form class="flex flex-col gap-4" hx-post="/api/accounts/update-data" hx-target="closest #content">
	<div class="form-control">
		<label for="username">{t("username", lang)}</label>
		<input id="username" type="text" name="username" value={account.username} />
	</div>
	<div class="form-control">
		<label for="email">{t("email", lang)}</label>
		<input id="email" type="email" value={account.email} disabled />
	</div>
	<a class="btn btn-primary" href="/email-change">{t("email_change", lang)}</a>
	<button type="button" class="btn btn-primary" hx-post="/api/account/password-change-email">
		{t("password_change", lang)}
	</button>
	<div class="grid grid-cols-2 gap-4">
		<a class="btn" href="/">{t("cancel", lang)}</a>
		<button>{t("save", lang)}</button>
	</div>
</form>
