---
import { getAccountById } from "@lib/services/account";
import { notForBasicUser } from "@lib/services/asserts";
import { renderErrorPageTranslated } from "@lib/services/error";
import { t } from "@lib/services/i18n";

export const partial = true;
const { language, user } = Astro.locals;

if (!user.id) {
	return notForBasicUser("common-user-settings");
}

const account = await getAccountById(user.id);

if (!account) {
	return renderErrorPageTranslated("", lang);
}
---

<form class="flex flex-col gap-4" hx-post="/api/accounts/update-common-data" hx-target="closest #content">
	<div class="form-control">
		<label for="username">{t("username", language)}</label>
		<input id="username" type="text" name="username" value={account.username} />
	</div>
	<div class="form-control">
		<label for="email">{t("email", language)}</label>
		<input id="email" type="email" value={account.email} disabled />
	</div>
	<a class="btn btn-primary" href="/email-change">{t("email_change", language)}</a>
	<button type="button" class="btn btn-primary" hx-post="/api/accounts/send-password-change-email">
		{t("password_change", language)}
	</button>
	<div class="grid grid-cols-2 gap-4">
		<a class="btn" href="/">{t("cancel", language)}</a>
		<button>{t("save", language)}</button>
	</div>
</form>
