---
import DealHeader from "@components/deal/DealHeader.astro";
import FavoriteToggleButton from "@components/deal/FavoriteToggleButton.astro";
import { getActiveDealHeadersForDealerPage } from "@lib/services/deal";

export const partial = true;
const userId = Astro.locals.user.id;
const { dealerId } = Astro.params;
const dealHeaders = await getActiveDealHeadersForDealerPage(dealerId!, userId);
const showFavoriteToggle = userId !== dealerId;
---

<div class="flex flex-col gap-2" x-data="{openDetailsId: ''}">
	{
		dealHeaders.map((header) => (
			<DealHeader {header} hideName={true}>
				{showFavoriteToggle && <FavoriteToggleButton isFavorite={header.isFavorite} dealId={header.id} />}
			</DealHeader>
		))
	}
</div>
<div id="image-zoom-modal"></div>
