---
import DealHeader from "@components/deal/DealHeader.astro";
import FavoriteToggleButton from "@components/deal/FavoriteToggleButton.astro";
import { getActiveDealHeaders } from "@lib/services/deal";

export const partial = true;
const userId = Astro.locals.user.id;
const dealHeaders = await getActiveDealHeaders(userId);
---

<div class="flex flex-col gap-2" x-data="{openDetailsId: ''}">
	{
		dealHeaders.map((header) => (
			<DealHeader {header}>
				<FavoriteToggleButton isFavorite={header.isFavorite} dealId={header.id} />
			</DealHeader>
		))
	}
</div>
<div id="new-deals-button" hx-swap="outerHTML"></div>
<div id="image-zoom-modal"></div>
<div id="deals-count-badge-count" hx-swap-oob="true">
	{dealHeaders.length}
</div>
