---
import BasicUserHint from "@components/deal/BasicUserHint.astro";
import DealHeader from "@components/deal/DealHeader.astro";
import { getFavoriteDealersDealHeaders } from "@lib/services/deal";

export const partial = true;
const { id, isBasicUser } = Astro.locals.user;
const dealHeaders = id ? await getFavoriteDealersDealHeaders(id) : [];
---

<div class="flex flex-col gap-2" x-data="{openDetailsId: ''}">
	{isBasicUser && <BasicUserHint />}
	{dealHeaders.map((header) => <DealHeader {header} />)}
</div>
<div id="new-deals-button" hx-swap="outerHTML"></div>
<div id="image-zoom-modal"></div>
<div id="deals-count-badge-count" hx-swap-oob="true">
	{dealHeaders.length}
</div>
