---
import { t } from "@lib/services/i18n";
import { hasActiveSubscription } from "@lib/services/subscription";

interface Props {
	title: string;
	price: string;
	planId: number;
}

const { title, price, planId } = Astro.props;
const { user, language } = Astro.locals;
const hasActiveSub = await hasActiveSubscription(user.id || "");
---

<div class="text-100 card w-full bg-neutral shadow-xl">
	<div class="card-body gap-6">
		<span class="card-title w-full justify-between">
			<span>{title}</span>
			<span class="text-sm">{price}</span>
		</span>
		<slot />
		<div class="card-actions justify-end">
			{
				hasActiveSub ? (
					<span>{t("active_subscription_already_exists", language)}</span>
				) : (
					<button hx-post={`/api/subscriptions/subscribe-${planId}`}>{t("subscription_subscribe", language)}</button>
				)
			}
		</div>
	</div>
</div>
