---
import Layout from "@layouts/Layout.astro";
import { t } from "@lib/services/i18n";

const { code } = Astro.params;
const { language } = Astro.locals;
---

<Layout>
	<form class="flex flex-col gap-6 p-6" hx-post="/api/accounts/password-change">
		<h1 class="text-center">{t("password_change", language)}</h1>
		<input type="text" name="code" value={code} hidden />
		<div class="form-control">
			<label for="password">{t("password_new", language)}</label>
			<input id="password" type="password" name="password" />
		</div>
		<div class="form-control">
			<label for="password-repeat">{t("password_repeat", language)}</label>
			<input id="password-repeat" type="password" name="password-repeat" />
		</div>
		<div class="grid grid-cols-2 gap-4">
			<a class="btn btn-primary" href="/">{t("back", language)}</a>
			<button class="btn btn-warning">{t("change", language)}</button>
		</div>
	</form>
</Layout>
