---
import BasicPlanCard from "@components/pricing/BasicPlanCard.astro";
import VoucherCard from "@components/pricing/VoucherCard.astro";
import Layout from "@layouts/Layout.astro";
import { t } from "@lib/services/i18n";
import { hasActiveSubscription } from "@lib/services/subscription";

const { language, user } = Astro.locals;
const hasActiveSub = await hasActiveSubscription(user.id || "");
---

<Layout>
	<section class="flex flex-col items-center gap-4 p-4" x-data="{tabIndex: 0, yearlyPayment: true}">
		<h1>{t("prices_and_subscriptions", language)}</h1>
		{hasActiveSub && <h2 class="text-red">{t("already_have_active_subscription", language)}</h2>}
		<div class="join grid w-full grid-cols-2">
			<input
				class="btn join-item"
				type="radio"
				name="options"
				aria-label={t("basic_pricing", language)}
				checked
				@click="tabIndex = 0"
			/>
			<input class="btn join-item" type="radio" name="options" aria-label="Abos" @click="tabIndex = 1" />
		</div>
		<!----------------------------------------->
		<!-- Basic -->
		<!----------------------------------------->
		<div class="flex w-full flex-col gap-4" x-show="tabIndex === 0">
			<BasicPlanCard title="Basic" price={`4,99 € / ${t("deal", language)}`}>
				<ul>
					<li class="list-disc">
						<div class="flex items-baseline gap-2">
							{t("basic_pricing_description_1", language)}
							<div class="text-xs">{t("basic_pricing_description_1_24_hours", language)}</div>
						</div>
					</li>
					<li class="list-disc">{t("basic_pricing_description_2", language)}</li>
				</ul>
			</BasicPlanCard>
			<VoucherCard />
		</div>
		<!----------------------------------------->
		<!-- Subscriptions  -->
		<!----------------------------------------->
		<div class="flex w-full flex-col gap-4" x-show="tabIndex === 1">
			<div class="my-4 flex justify-center gap-4">
				<div>{t("monthly_payment", language)}</div>
				<input type="checkbox" class="toggle toggle-warning" x-model="yearlyPayment" />
				<div class="flex items-center gap-2">
					<div>{t("yearly_payment", language)}</div>
					<b class="text-sm">({t("save_10_percent_with_yearly", language)})</b>
				</div>
			</div>
			<div
				class="flex flex-col gap-4"
				x-show="!yearlyPayment"
				hx-get="/partials/pricing/monthly"
				hx-target="this"
				hx-trigger="load">
			</div>
			<div
				class="flex flex-col gap-4"
				x-show="yearlyPayment"
				hx-get="/partials/pricing/yearly"
				hx-target="this"
				hx-trigger="load">
			</div>
		</div>
	</section>
</Layout>
