---
import Layout from "@layouts/Layout.astro";
import { t } from "@lib/services/i18n";
const lang = Astro.locals.user.language;
---

<Layout>
  <form class="flex flex-col gap-4 p-6" hx-post="/api/register" hx-target="#alert" x-data="{isDealer: false}">
    <h1 class="text-center">{t("signup", lang)}</h1>
    <div class="form-control-horizontal">
      <input id="dealer" type="checkbox" checked="checked" class="checkbox" name="isDealer" x-model="isDealer" />
      <label for="dealer" class="cursor-pointer">{t("i_am_a_dealer", lang)}</label>
    </div>
    <div class="form-control">
      <label for="email">{t("email", lang)}</label>
      <input id="email" type="text" name="email" />
    </div>
    <div class="form-control">
      <label for="username">{t("username", lang)}</label>
      <input id="username" type="text" name="username" />
    </div>
    <div class="form-control">
      <label for="password">{t("password", lang)}</label>
      <input id="password" type="password" name="password" />
    </div>
    <div class="form-control">
      <label for="password-repeat">{t("password_repeat", lang)}</label>
      <input id="password-repeat" type="password" name="passwordRepeat" />
    </div>
    <div class="flex flex-col gap-4" x-show="!isDealer">
      <div class="form-control">
        <label for="age">{t("age", lang)}</label>
        <div id="age" class="join grid grid-cols-3 grid-rows-2 w-full">
          <input class="join-item btn btn-sm" type="radio" value="1" name="age" aria-label="bis 18" checked />
          <input class="join-item btn btn-sm" type="radio" value="2" name="age" aria-label="19 - 29" />
          <input class="join-item btn btn-sm" type="radio" value="3" name="age" aria-label="30 - 39" />
          <input class="join-item btn btn-sm" type="radio" value="4" name="age" aria-label="40 - 49" />
          <input class="join-item btn btn-sm" type="radio" value="5" name="age" aria-label="50 - 59" />
          <input class="join-item btn btn-sm" type="radio" value="6" name="age" aria-label="60+" />
        </div>
      </div>
      <div class="form-control">
        <label for="gender">{t("gender", lang)}</label>
        <div id="gender" class="join grid grid-cols-3 w-full">
          <input class="join-item btn btn-sm" type="radio" value="f" name="gender" aria-label="Frau" checked />
          <input class="join-item btn btn-sm" type="radio" value="m" name="gender" aria-label="Mann" />
          <input class="join-item btn btn-sm" type="radio" value="-" name="gender" aria-label="Egal" />
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-4" x-show="isDealer">
      <div class="form-control">
        <label for="category-select">{t("industry", lang)}</label>
        <div
          id="category-select"
          hx-get="/partials/category-select?translation_key=industry_select"
          hx-trigger="load once"
          hx-target="this">
        </div>
      </div>
      <div class="grid grid-cols-3 gap-2">
        <div class="form-control col-span-2">
          <label for="street">{t("street", lang)}</label>
          <input id="street" type="text" name="street" />
        </div>
        <div class="form-control">
          <label for="house-number">{t("house_number", lang)}</label>
          <input id="house-number" type="text" name="houseNumber" />
        </div>
      </div>
      <div class="grid grid-cols-3 gap-2">
        <div class="form-control col-span-2">
          <label for="city">{t("city", lang)}</label>
          <input id="city" type="text" name="city" />
        </div>
        <div class="form-control">
          <label for="zip">{t("zipcode", lang)}</label>
          <input id="zip" type="number" name="zipCode" />
        </div>
      </div>
      <div class="form-control">
        <label for="phone">{t("phone", lang)}</label>
        <input id="phone" type="text" name="phone" />
      </div>
      <div class="form-control">
        <label for="tax-id">{t("tax_id", lang)}</label>
        <input id="tax-id" type="text" name="taxId" />
      </div>
    </div>
    <div class="form-control-horizontal pt-10">
      <input id="agb" type="checkbox" class="checkbox" name="agb" />
      <label for="agb" class="cursor-pointer">
        {t("accept_terms_and_privacy_1", lang)}
        <a class="link" href="#">{t("terms", lang)}</a>
        {t("and", lang)}
        <a class="link" href="#">{t("privacy", lang)}</a>
        {t("accept_terms_and_privacy_2", lang)}
      </label>
    </div>
    <div class="mt-4 grid grid-cols-2 gap-2">
      <a class="btn btn-primary btn-outline" href="/">{t("cancel", lang)}</a>
      <button>{t("signup", lang)}</button>
    </div>
  </form>
</Layout>
