---
import Layout from "@layouts/Layout.astro";
import { t } from "@lib/services/i18n";

const { language } = Astro.locals;
---

<Layout>
	<form class="flex flex-col gap-6 p-6" hx-post="/api/accounts/send-password-change-email">
		<h1 class="text-center">{t("password_change", language)}</h1>
		<span>{t("password_change_description", language)}</span>
		<div class="form-control">
			<label for="email">{t("email", language)}</label>
			<input id="email" name="email" type="email" />
		</div>
		<div class="grid grid-cols-2 gap-4">
			<a class="btn btn-outline btn-primary" href="/">{t("back", language)}</a>
			<button class="btn btn-warning">{t("send", language)}</button>
		</div>
	</form>
</Layout>
