---
import DealsIcon from "@components/icons/DealsIcon.astro";
---

<div
  id="deals-count-badge"
  class="badge gap-2 border border-[#2c363a] bg-transparent text-[#69828c]"
  hx-swap-oob="true">
  <DealsIcon class="h-3 w-3" />
  <div id="deals-count-badge-count">0</div>
</div>
