---
import DefaultUserProfileImage from "@components/icons/DefaultUserProfileImage.astro";
import FilterIcon from "@components/icons/FilterIcon.astro";
import LocationIcon from "@components/icons/LocationIcon.astro";
import { getUsernameById } from "@lib/services/account";
import { t } from "@lib/services/i18n";

const user = Astro.locals.user;
const username = user.id ? await getUsernameById(user.id) : "Basic";
---

<div class="flex h-52 justify-between">
  <div class="flex w-full justify-between">
    <div class="m-4 flex flex-col gap-4">
      <div class="flex gap-2 fill-current text-xs text-[#69828c]">
        <div id="deals-count-badge"></div>
        <div hx-get="/partials/user/favorite-dealers-count-badge" hx-trigger="load" hx-target="this"></div>
        <div
          hx-get="/partials/user/favorite-deals-count-badge"
          hx-trigger="load, updateFavDealsCountBadge from:body"
          hx-target="this">
        </div>
      </div>
      <div class="text-2xl">{username || "Basic"}</div>
      <div class="flex flex-col gap-2 text-sm">
        <div class="font-extrabold">{t("your_location", user.language)}</div>
        <div class="flex gap-2 items-end">
          <LocationIcon class="h-6" />
          <div class="flex flex-col text-xs">
            <div id="street">"Suche aktuelle Position ..."</div>
            <div id="city"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-8">
      <div class="avatar z-40 cursor-pointer -mt-6 mr-16">
        <div class="h-24 w-24 rounded-full bg-base-100 ring-2 ring-[#556368]">
          <div
            id="account-profile-image"
            hx-get="/partials/accounts/profile-image"
            hx-target="this"
            hx-trigger="load once">
            <DefaultUserProfileImage />
          </div>
        </div>
      </div>
      <button
        class="btn-primary btn-circle flex w-20 justify-start rounded-r-none rounded-l-full self-end px-0.5"
        hx-get="/partials/map/filter-modal?redirect-after-save=/user"
        hx-target="#modal">
        <FilterIcon class="w-auto h-11 border border-white rounded-full p-1" />
      </button>
    </div>
  </div>
</div>
