<div class="rounded bg-[#ff00ff]">
	<svg fill="none" class="w-10 h-10" viewBox="0 0 24 24" stroke="#fff">
		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
	</svg>
</div>
