---
import HeartIcon from "@components/icons/HeartIcon.astro";

interface Props {
	dealerId: string;
	isFavorite: boolean;
}

const { dealerId, isFavorite } = Astro.props;
---

<button
	class="btn-circle flex w-20 justify-start self-end rounded-l-full rounded-r-none px-0.5"
	hx-post={`/partials/dealer/toggle-favorite-${dealerId}`}
	hx-target="this"
	hx-swap="outerHTML">
	<HeartIcon outline={!isFavorite} class="h-11 w-auto rounded-full border border-white p-1" />
</button>
