---
import FlagDeIcon from "@components/icons/FlagDeIcon.astro";
import FlagUkIcon from "@components/icons/FlagUkIcon.astro";
import { t } from "@lib/services/i18n";
const { lang } = Astro.props;
---

<div class="flex gap-4">
  {t("language", lang)}:
  <div class="flex gap-2">
    <a class="link w-10" href="/language-set/de">
      <FlagDeIcon />
    </a>
    <a class="link w-10" href="/language-set/en">
      <FlagUkIcon />
    </a>
  </div>
</div>
