---
const { href, text } = Astro.props;

function target(href: string): string {
  if (href.includes("stripe")) {
    return "_blank";
  }

  return "";
}
---

<a class="flex justify-start items-center gap-4" href={href} target={target(href)}>
  <div class="shrink h-6 w-6">
    <slot name="icon" />
  </div>
  {text}
</a>
